# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.tex
*.zip

# Report working files (keep only PDFs in reports/)
reports/*.png
reports/*.md
